:root{
  --lightRed: #C7493A;
  --red: #A33327;
  --green: #689775;
  --brown: #917164;
  --lightBrown: #AD8174;
}


body{
  background-image: linear-gradient(to right, var(--red), var(--lightRed), #c95a4d);
}

#start{
  background-image: linear-gradient(to left, var(--green), var(--brown));
  border: none;
  border-radius: 20px;
  position: absolute;
  top:40%;
  right:25%;
  width: 250px;
  height: 70px;
  font-weight: bold;
  font-size: 20px;
}